In [16]:
#import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv
import os
from pprint import pprint
import requests
import json
import html
from scipy.stats import linregress
import statsmodels.api as sm
import seaborn as sns

In [17]:
csv_merge = "../Resources/newmerge_1416.csv"
df_1416 = pd.read_csv(csv_merge)

In [18]:
df_1416.columns

Index(['Region_2014', 'ISO', 'ODB-Rank_2014', 'Country',
       'ODB-Score-Scaled_2014', 'Readiness-Scaled_2014',
       'Implementation-Innovation-Scaled_2014',
       'Implementation-Social-Scaled_2014',
       'Implementation-Accountability-Scaled_2014', 'Implementation-Rank_2014',
       'Impact-Political-Scaled_2014', 'Impact-Social-Scaled_2014',
       'Impact-Economic-Scaled_2014', 'Impact-Rank_2014', 'Cluster-Group',
       'E-Government Rank_2014', 'E-Government Index_2014',
       'E-Participation Index_2014', 'Online Service Index_2014',
       'Human Capital Index_2014',
       'Telecommunication Infrastructure Index_2014', 'ODB-Score-Scaled_2016',
       'Readiness-Scaled_2016', 'Implementation-Innovation-Scaled_2016',
       'Implementation-Social-Scaled_2016',
       'Implementation-Accountability-Scaled_2016', 'Implementation-Rank_2016',
       'Impact-Political-Scaled_2016', 'Impact-Social-Scaled_2016',
       'Impact-Economic-Scaled_2016', 'Impact-Rank_2016',
       'E-Government Rank_2016', 'E-Government Index_2016',
       'E-Participation Index_2016', 'Online Service Index_2016',
       'Human Capital Index_2016',
       'Telecommunication Infrastructure Index_2016'],
      dtype='object')

In [19]:
df_1416_readiness = df_1416[["Country","Region_2014","Readiness-Scaled_2014", "Readiness-Scaled_2016"]]

In [20]:
df_1416_per = df_1416_readiness[["Readiness-Scaled_2014", "Readiness-Scaled_2016"]]
df_1416_per.head()

   Readiness-Scaled_2014  Readiness-Scaled_2016
0                    100                     87
1                     91                    100
2                     81                     92
3                     95                     94
4                     88                     77

In [21]:
percentage = df_1416_per.pct_change(axis=1)
percentage = round(percentage * 100,2)
percentage_2016 = percentage["Readiness-Scaled_2016"].values.tolist()
percentage_2016

[-13.0,
 9.89,
 13.58,
 -1.05,
 -12.5,
 6.67,
 -28.72,
 -7.61,
 -21.18,
 -32.26,
 -41.67,
 3.85,
 -10.14,
 0.0,
 -15.62,
 3.7,
 -5.71,
 0.0,
 -4.94,
 43.64,
 23.88,
 13.64,
 -8.14,
 -34.25,
 -17.14,
 2.82,
 -1.67,
 -5.41,
 -56.25,
 6.82,
 32.61,
 10.87,
 18.75,
 -11.9,
 21.43,
 33.33,
 -55.36,
 -25.53,
 20.45,
 6.25,
 -22.41,
 -11.54,
 -19.44,
 48.57,
 4.76,
 -2.5,
 35.71,
 0.0,
 8.57,
 48.65,
 -19.15,
 21.21,
 -33.33,
 -2.63,
 -30.0,
 -23.26,
 -23.33,
 8.33,
 0.0,
 -10.87,
 -53.12,
 -25.0,
 -69.23,
 -13.33,
 -20.51,
 33.33,
 0.0,
 -29.41,
 -55.0,
 0.0,
 -19.23,
 193.75,
 -26.32,
 21.05,
 -100.0,
 9.09,
 -36.84,
 280.0,
 inf]

In [22]:
df_1416_readiness.insert(4, "Percentage Change", percentage_2016, True)

In [23]:
df_1416_readiness

,Country,Region_2014,Readiness-Scaled_2014,Readiness-Scaled_2016,Percentage Change
0,Sweden,Europe & Central Asia,100,87,-13.00
1,France,Europe & Central Asia,91,100,9.89
2,New Zealand,East Asia & Pacific,81,92,13.58
3,Netherlands,Europe & Central Asia,95,94,-1.05
4,Norway,Europe & Central Asia,88,77,-12.50
...,...,...,...,...,...
74,Yemen,Middle East & North Africa,12,0,-100.00
75,Cameroon,Sub-Saharan Africa,11,12,9.09
76,Mali,Sub-Saharan Africa,19,12,-36.84
77,Haiti,Latin America & Caribbean,5,19,280.00
78,Myanmar,East Asia & Pacific,0,2,inf

In [24]:
df_1416_readiness["Difference"] = df_1416_readiness["Readiness-Scaled_2016"].sub(df_1416_readiness["Readiness-Scaled_2014"],axis=0)

<ipython-input-24-0961cd2df007>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1416_readiness["Difference"] = df_1416_readiness["Readiness-Scaled_2016"].sub(df_1416_readiness["Readiness-Scaled_2014"],axis=0)

In [25]:
df_1416_readiness

,Country,Region_2014,Readiness-Scaled_2014,Readiness-Scaled_2016,Percentage Change,Difference
0,Sweden,Europe & Central Asia,100,87,-13.00,-13
1,France,Europe & Central Asia,91,100,9.89,9
2,New Zealand,East Asia & Pacific,81,92,13.58,11
3,Netherlands,Europe & Central Asia,95,94,-1.05,-1
4,Norway,Europe & Central Asia,88,77,-12.50,-11
...,...,...,...,...,...,...
74,Yemen,Middle East & North Africa,12,0,-100.00,-12
75,Cameroon,Sub-Saharan Africa,11,12,9.09,1
76,Mali,Sub-Saharan Africa,19,12,-36.84,-7
77,Haiti,Latin America & Caribbean,5,19,280.00,14
78,Myanmar,East Asia & Pacific,0,2,inf,2

In [26]:
grouped = df_1416_readiness.groupby(["Region_2014"])

In [27]:
print("Readiness Score: Mean Percentage Change")
mean = grouped["Percentage Change"].mean()
mean.reset_index()

Readiness Score: Mean Percentage Change

                  Region_2014  Percentage Change
0         East Asia & Pacific                inf
1       Europe & Central Asia          -7.964783
2   Latin America & Caribbean          23.231667
3  Middle East & North Africa         -23.781111
4               North America           6.670000
5                  South Asia          -5.422500
6          Sub-Saharan Africa           0.434000